@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,700&display=swap');


html{
font-family: 'Nunito';
}

body{
  background-color: #130f0d;
  color: white;
}
.boards{
display: flex;
margin: 32px ;

}
.board{
  background-color: #141316;
  border: 1px solid #FD951F11;
  border-radius: 4px;
  margin: 0 16px;

}

.board h3{
  padding: 16px;
  margin: 0;
  color: #fd951fcc;
  

}
.dropzone{
  padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card{
  padding: 16px;
    box-shadow: 0 2px 2px -1px #fd951fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    background-color: #1a1a1c;
}
.status{
  
  width: 30px;
  height: 8px;
  background: grey;
  margin-bottom: 16px;
  border-radius: 8px;
}

.statusgreen{
  background-color: #23d2ac;
}


.statusblue{
  background-color: #33adff;
}


.statusred{
  background-color: red;
}
.card, .dropzone{
  transition: 400ms;
}

.highlight{
  background-color: #fd951f08;
}

.is-dragging{
  cursor: move;
  opacity: 0.3;
}

.over{
  background-color: #4cd13711;

}