<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Kanban Board</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  
  <header>
    
    <div class="head">
      <img src="../public/assets/marketing 1.svg" alt="icon">
      <div class="headInfo">
        <h3>Cards Drag&Drop</h3>
        <p>Roberto Junior</p>
      </div>
    </div>
    
    <div class="icons">
      <a href="#" onclick="build()">
        <img src="../public/assets/plus.svg" alt="plus">
      </a>
      <a href="#" onclick="delet()">
        <h3> Del</h3>
      </a>
    </div>
    
  </header>
  
  
  <div class="boards">
   
    <div class="backgroundHidden">
      <img src="../public/assets/thinking_monochromatic.svg" alt="think">
    </div>

  </div>  
  
  
  <script src="../public/script.js" defer></script>
  
</body>

</html>